<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->






<div class="modal-body left">
    <form #addForm="ngForm" (ngSubmit)="searchBugNow(addForm)">
    <div class="form-group">
       <label for="name">Bug Id</label>
       <input type="text" ngModel name="bugId" class="form-control" id="name" placeholder="Bug Id" required>
    </div>
    <div class="modal-footer">
       <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal" routerLink="/search" routerLinkActive="active">Cancel</button>
       <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Search</button>
    </div>
    </form>
 </div>
<div class="container mt-5" style="width: initial;">
 <table class="table table-hover table-condensed">
   <thead>
       <tr>
           <th>Bug Details</th>
       </tr>
   </thead>
   <tbody>
      <tr>
         <td style="width: 30%;">Bug ID</td>
         <td style="width: 30%;">{{msg.bug_id}}</td>
     </tr>
       <tr>
           <td>Summary</td>
           <td>{{msg.bug_summary}}</td>
       </tr>
       <tr>
         <td>Description</td>
         <td>{{msg.bug_desc}}</td>
     </tr>
     <tr>
      <td>Steps to reproduce</td>
      <td>{{msg.bug_steps}}</td>
  </tr>
  <tr>
   <td>Reported By</td>
   <td>{{msg.bug_rep_by}}</td>
</tr>
<tr>
   <td>Assigned to</td>
   <td>{{msg.bug_ass_to}}</td>
</tr>
<tr>
   <td>Module Id</td>
   <td>{{msg.mod_id}}</td>
</tr>
<tr>
   <td>Comments</td>
   <td>{{msg.bug_comments}}</td>
</tr>
<tr>
   <td>Attachment ID from Amazon S3</td>
   <td>{{msg.attach_id}}</td>
</tr>

   </tbody>
</table>
</div>
<router-outlet></router-outlet>
