
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->





<div class="modal-body left">
    <h2>Login</h2>
    <form #addForm="ngForm" (ngSubmit)="loginNow()">
    <div class="form-group">
       <label for="name">Username</label>
       <input type="text" class="form-control  border border-light p-5" id="username" placeholder="John Smith" required>
    </div>
    <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control border border-light p-5" id="password" placeholder="*****" required>
     </div>
    <div class="modal-footer">
       <button type="button" id="login-form" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
       <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >SignIn</button>
    </div>
    </form>
 </div>
 

  
  

  <!-- Default form login -->
<router-outlet></router-outlet>
